:host {
    display: block;
    height: 100%;
}

.card {
    background: #FFFFFF;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 24px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card-header {
    margin-bottom: 24px;

    h4 {
        margin: 0;
        font-size: 19px;
        color: var(--text-dark);
        font-weight: 600;
    }
}

.chart-container {
    flex-grow: 1;
    position: relative;
    width: 100%;
    min-height: 250px;
    /* Ensure chart has height */
}